.item-container {
    display: flex;
    align-items: center;
    margin-top: 170px;
    justify-content: space-evenly;
    flex-direction: row;
}
.box {
    margin-bottom: 10px;
    font-size: 20px;
    background: white;
    width: 250px;
    height: 110px;
    padding: 20px;
    border: 1px solid transparent;
}
p{
    padding-top: 30px;
    font-size: 16px;
}
a{
    text-decoration: none;
    color: black;
}