body{
  background: linear-gradient(90deg, #6eda78 , #ffa200);
}
.App-header{
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 10px 10px;
  height: 50px;
  align-items: center;
  font-size: 26px;
  font-weight: bold;
}
.select-language{
  padding: 10px;
}